/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.square{
  min-width: 50px;
  width: 5% !important;
  height: 100% !important;
  margin-right: 0.5%;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.halfsquare{
  min-width: 25px;
  width: 2.5% !important;
  height: 50% !important;
  margin-right: 0.5%;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.secondrow{

}
.buttonrow{
  min-height: 50px;
  height: 20%;
  margin-bottom: 0.5%;
}
.buttons{
  height: 50%;
  margin-left: 10%;
  margin-top: 5%;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.result{
  width: 21.5% !important;
  min-width: 205px;
}
span{
  display: block;
}
.main{
  display: flex;
}
input[type=text] + label:after{
  top: 40px;
}